.color-code {
    background-color: white;
    width: 90%;
}

.color-code__row {
    display: flex;
}

.color-code__color-cont {
    width: 50%;
    display: flex;
}

.color-code__color {
    width:20px;
}

.verylow-performance {
    background-color: #CF3230;
}

.low-performance {
    background-color: #FF5733;
}

.reg-performance {
    background-color: #EF750F;
}

.good-performance {
    background-color: #96E113;
}

.great-performance {
    background-color: #E3D917 ;
}