.header {
    display: flex;
    background-color: #424242;
}

.header__nav {
    width: 80%;
}

.header__ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0;
    list-style:none;
}

.header__link {
    text-decoration: none;
    color:white;
}