.form-row {
    display:flex;
    justify-content: space-between;
    margin-bottom: .4em;
}

.form-control {
    color: #eee;
    padding-left: .5em;
    background-color:#303245;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    min-height: 2rem;
    border-radius: 8px;
    -webkit-box-shadow: none;
    width: 35%;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #303245 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

.form-control::placeholder {
    margin-left: 1rem;
}

.form-row__delete-button {
    background-color: #d02929;
    color: white;
    border-style: none;
    cursor: pointer;
    padding: .3em .9em;
    border-radius: 60px;
}