.tutorial-step {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 90%;
}

.tutorial-step__step-instruc {
    margin-bottom: 1em;
}

.tutorial-step__followup {
    margin-bottom: 1em;
}

.tutorial-step__img-cont {
    display: flex;
    justify-content: center;
}

.tutorial-step__img {
    max-width: 100%;
    
    
}