.tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.tutorial__step-followup {
    margin-top: 1em;
    width: 90%;
}

@media screen and (min-width:1224px){
    .tutorial{
        font-size: 1.2rem;
    }
    
}